[Desktop Entry]
Name=KXStudio Miku Stripes

X-KDE-PluginInfo-Name=KXStudio
X-KDE-PluginInfo-Author=Ivan Čukić, Hatsune Miku © Crypton Future Media, Inc. 2007
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-License=GPLv3, Miku CC BY-NC
